.banner{
    padding: toRem(70) 0;

    &__content{
        @include desktop{
            text-align: center;
        }
    }
    &__title{
        font-size: toRem(32);
        font-weight: 700;
        line-height: 1;

        @include min-tablet{
            font-size: toRem(50);
        }

        @include min-desktop-lg{
            font-size: toRem(64);
        }
    }

    &__text{
        margin: toRem(20) 0;
    }

    &__preview{
        padding: toRem(65) 0;

        @include min-desktop{
            padding: toRem(20) 0;
        }

        @include min-desktop-xl{
            padding: toRem(60) 0;
        }
    }

    &__image{
        @include desktop-lg{
            max-height: toRem(300);
        }

        animation: fly 2s linear infinite;

        @keyframes fly {
            0%, 100%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(-4px);
            }
        }
    }
}