.banner{
    .section-icon{
        &--left{
            top: 2%;
            left: 2%;
        }

        &--right{
            top: 2%;
            right: 2%;
        }

        &--bottom-right{
            bottom: 5%;
            right: 35%;
        }

        &--btn{
            top: -30%;
            right: -30%;
        }
    }

    .section-wrapper{
        padding: toRem(70) 0;
    
        @include desktop{
            padding-bottom: 0;
        }
    }

    &__content{
        @include desktop{
            text-align: center;
        }
    }

    &__title{
        font-size: toRem(32);
        font-weight: 700;
        line-height: 1;

        @include min-tablet{
            font-size: toRem(50);
        }

        @include min-desktop-lg{
            font-size: toRem(64);
        }
    }

    &__text{
        margin: toRem(20) 0;
    }

    .primary-btn{
        position: relative;
    }
}