//Responsive Breakpoint SCSS Mixin:

//xxs
@mixin mobile-xxs {
    @media (max-width: 479.98px) {
        @content;
    }
}
//min-xxs
@mixin min-mobile-xxs {
    @media (min-width: 480px) {
        @content;
    }
}

//xs
@mixin mobile {
    @media (max-width: 575.98px) {
        @content;
    }
}
//min-xs
@mixin min-mobile {
    @media (min-width: 576px) {
        @content;
    }
}

//sm
@mixin tablet {
    @media (max-width: 767.98px) {
        @content;
    }
}
//min-sm
@mixin min-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

//md
@mixin desktop {
    @media (max-width: 991.98px) {
        @content;
    }
}
//min-md
@mixin min-desktop {
    @media (min-width: 992px) {
        @content;
    }
}

//lg
@mixin desktop-lg {
    @media (max-width: 1199.98px) {
        @content;
    }
}
//min-lg
@mixin min-desktop-lg {
    @media (min-width: 1200px) {
        @content;
    }
}

//xl
@mixin desktop-xl {
    @media (max-width: 1399.98px) {
        @content;
    }
}
//min-xl
@mixin min-desktop-xl {
    @media (min-width: 1400px) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover,
        &:focus-visible
        {
            @content;
        }
    }
}

//sm-lg
@mixin tablet-to-desktop-lg {
    @media (min-width: 768px) and (max-width: 1199px) {
        @content;
    }
}