// SCSS Variable's
$font-primary: 'Poppins', sans-serif;

$color-primary:#f8b833;
$color-danger:#E64848;
$color-black:hsl(0, 0%, 0%);
$color-white:hsla(0, 0%, 100%, 1);

// CSS Variables
:root{
    /* hsl color code */
    --color-primary: 0, 0%, 0%;
    --color-secondary: 0, 0%, 100%;
}

.dark-layout{
    /* hsl color code */
    --color-primary: 0, 0%, 100%;
    --color-secondary: 0, 0%, 0%;
}