/* Common Button's Style */
.primary-btn{
	color: unset;
	font-size: 1.2rem;
	font-family: $font-primary;
	font-weight: 400;
	padding: 0.7em 1.4em;
	background: unset;
	@extend %transition;
	&:hover, 
	&:focus{
		color: unset;
		background: unset;
	}
}

.scroll-top{
	bottom: toRem(15);
	right: toRem(15);
	display: none;
	cursor: pointer;
	z-index: 7;
	&__btn{
		width: toRem(30);
		height: toRem(30);
		font-size: toRem(18);
		color: color-secondary();
		background: color-primary();
	}
}